.logo {
  width: 20%;
  height: 20%;
  border: black 3px dotted;
  padding: 10px;
  border-radius: 50%;
  background: url(../public/clipartwiki.com-ticket-clipart-341712.png);
  position: relative;
  justify-content: center;
}

.logo:hover {
  border-color: #ef5a00 !important;
  transition: all 0.4s ease 0s;
}
